@model CareerCloud.Pocos.CompanyDescriptionPoco

@{
    ViewData["Title"] = "Company Description Details";
}

<h1>Company Description Details</h1>

<div>
    <h4>@*CompanyDescriptionPoco*@</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyProfile.CompanyWebsite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemLanguageCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemLanguageCode.LanguageID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
