@model CareerCloud.Pocos.ApplicantJobApplicationPoco

@{
    ViewData["Title"] = "Applicant Job Application Details";
}

<h3>Applicant Job Application Details</h3>

<div>
    <h4>ApplicantJobApplicationPoco</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicantProfile.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyJob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyJob.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
