@model CareerCloud.Pocos.ApplicantWorkHistoryPoco

@{
    ViewData["Title"] = "Applicant Work History Details";
}

<h3>Applicant Work History Details</h3>

<div>
    <h4>@*ApplicantWorkHistoryPoco*@</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicantProfile.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemCountryCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemCountryCode.Code)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
