@model CareerCloud.Pocos.SecurityLoginsRolePoco

@{
    ViewData["Title"] = "Security Logins Role Details";
}

<h1>Security Logins Role Details</h1>

<div>
    <h4>@*SecurityLoginsRolePoco*@</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityLogin.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityRole.Role)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
