@model IEnumerable<CareerCloud.Pocos.CompanyDescriptionPoco>
@{
    ViewData["Title"] = "CompanyDescription";
    var flag = (bool)ViewData["Options"];
}

@if (!flag)
{
    <h4>CompanyDescription</h4>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyProfile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemLanguageCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyProfile.CompanyWebsite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SystemLanguageCode.LanguageID)
                </td>
                @if (flag)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                
            </tr>
        }
    </tbody>
</table>