@model IEnumerable<CareerCloud.Pocos.CompanyJobSkillPoco>
@{
    ViewData["Title"] = "CompanyJobSkill";
    var flag = (bool)ViewData["Options"];
}

@if (!flag)
{
    <h4>JobSkills</h4>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Skill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyJob)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Skill)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SkillLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Importance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyJob.Id)
                </td>
                @if (flag)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>