@model IEnumerable<CareerCloud.Pocos.CompanyJobPoco>
@{
    ViewData["Title"] = "CompanyJobs";
    var flag = (bool)ViewData["Options"];
}

@if (!flag)
{
    <h4>CompanyJobs</h4>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfileCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInactive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompanyHidden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyProfile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfileCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsInactive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCompanyHidden)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyProfile.CompanyWebsite)
                </td>
                @if (flag)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                
            </tr>
        }
    </tbody>
</table>