@model IEnumerable<CareerCloud.Pocos.ApplicantJobApplicationPoco>
@{
    ViewData["Title"] = "ApplicantJobApplication";
    var flag = (bool)ViewData["Options"];
}
@if (Model.Count() != 0)
{

        @if (!flag)
        {
            <h4>ApplicantJobApplication</h4>
        }
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ApplicationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApplicantProfile)
                    </th>
                    <th>
                        @Html.Label("Company Name")
                    </th>
                    <th>
                        @Html.Label("Job Name")
                    </th>
                    <th>
                        @Html.Label("Job Description")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicantProfile.Id)
                        </td>
                        @if (item.CompanyJob != null)
                        {
                            var company = item.CompanyJob.CompanyProfile.CompanyDescription.FirstOrDefault();
                            <td>
                                @if(company != null)
                                {
                                    @company.CompanyName
                                }
                            </td>
                        }
                        <td>
                            @if (item.CompanyJob != null)
                            {
                                Html.DisplayFor(modelItem => item.CompanyJob.CompanyJobDescription.JobName);
                            }
                        </td>
                        <td>
                            @if (item.CompanyJob != null)
                            {
                                @Html.DisplayFor(modelItem => item.CompanyJob.CompanyJobDescription.JobDescriptions)
                            }
                        </td>
                        @if (flag)
                        {
                            <td>
                                <a asp-action="Edit" asp-controller="ApplicantJobApplication" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-controller="ApplicantJobApplication" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-controller="ApplicantJobApplication" asp-route-id="@item.Id">Delete</a>
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
}