@model IEnumerable<CareerCloud.Pocos.ApplicantResumePoco>
@{
    ViewData["Title"] = "ApplicantResume";
    var flag = (bool)ViewData["Options"];
}

@if (!flag)
{
    <h4>ApplicantResume</h4>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantProfile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Resume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicantProfile.City)
                </td>
                @if (flag)
                {
                    <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                }
                
            </tr>
        }
    </tbody>
</table>

