@model CareerCloud.Pocos.SecurityLoginsLogPoco

@{
    ViewData["Title"] = "Security Logins Log Details";
}

<h1>Security Logins Log Details</h1>

<div>
    @*<h4>SecurityLoginsLogPoco</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogonDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogonDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSuccesful)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSuccesful)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityLogin.EmailAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
