@model CareerCloud.Pocos.CompanyJobPoco

@{
    ViewData["Title"] = "Company Job Delete";
}

<h3>Company Job Delete</h3>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@*CompanyJobPoco*@</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInactive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCompanyHidden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCompanyHidden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyProfile.CompanyWebsite)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
