@model CareerCloud.Pocos.CompanyJobSkillPoco

@{
    ViewData["Title"] = "Company Job Skill Details";
}

<h1>Company Job Skill Details</h1>

<div>
    @*<h4>CompanyJobSkillPoco</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkillLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkillLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Importance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Importance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyJob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyJob.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
