@model CareerCloud.Pocos.ApplicantProfilePoco

@{
    ViewData["Title"] = "Delete";
}

<h3>Applicant Profile Delete</h3>

<h4>Are you sure you want to delete this?</h4>
<div>
    @*<h4>ApplicantProfilePoco</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityLogin.EmailAddress)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemCountry.Code)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
