@model CareerCloud.Pocos.SecurityLoginPoco

@{
    ViewData["Title"] = "Security Login Details";
}

<h3>Security Login Details</h3>

<div>
    @*<h4>SecurityLoginPoco</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasswordUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgreementAccepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgreementAccepted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLocked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLocked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInactive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForceChangePassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForceChangePassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrefferredLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrefferredLanguage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
